

:root{

    --light-white:#f9f9f9;
    --light-blue:#1890ff;
    --light-gray:#a8a8a8;
    --light-red:rgb(199, 0, 0);
    --very-light-blue:rgb(111, 201, 236);
    --button-color:rgb(32, 29, 29);
    --hover-color:rgb(83, 78, 78);

}

body{

    margin: 0;
    background-image: url(../../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

button{

    width: 100%;
    background-color: var(--button-color);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
/* #40a9ff */
button:hover {
    background-color: var(--hover-color);
}
input{

    border: none;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;


}